#login-panel {
    margin: 100px auto;
    width: 500px;
}

#login-container {
    display: flex;
    flex-wrap: wrap;
}

#login-container > * {
    padding-top: 1em;
}

#login-label-username, #login-label-password {
    width: 30%;
}

#login-username, #login-password {
    margin: 0;
    width: 70%;
}

#login-password > input {
    width: 100%;
}

#login-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
