#create-role-container {
    display: flex;
    flex-wrap: wrap;
}

#create-role-container > * {
    padding: 1em;
}

#create-role-label-name, #create-role-label-permissions {
    width: 20%;
}

#create-role-name, #create-role-permissions {
    width: 80%;
}

#create-role-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
