#link-roles-container {
    display: flex;
    flex-wrap: wrap;
}

#link-roles-container > * {
    padding: 1em;
}

#link-roles-label-user, #link-roles-label-roles {
    width: 20%;
}

#link-roles-user, #link-roles-roles {
    width: 80%;
}

#link-roles-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
