#view-users-container {
    display: flex;
    flex-wrap: wrap;
}

#view-users-container > * {
    padding: 1em;
}

#view-users-table {
    width: 100%;
}

#view-users-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}