#create-process-container {
    display: flex;
    flex-wrap: wrap;
}

#create-process-container > * {
    padding: 1em;
}

#create-process-label-title, #create-process-label-process {
    width: 20%;
}

#create-process-title, #create-process-process {
    width: 80%;
}

#create-process-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
