#view-process-instances-container {
    display: flex;
    flex-wrap: wrap;
}

#view-process-instances-container > * {
    padding: 1em;
}

#view-process-instances-table {
    width: 100%;
}

#view-process-instances-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
