#view-process-instance-container {
    display: flex;
    flex-wrap: wrap;
}

#view-process-instance-steps {
    width: 100%;
    padding-bottom: 2em;
}

#view-process-instance-label {
    width: 50%;
}

#view-process-instance-buttons {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: flex-end;
}
